<h1>Welcome to Makers IDE</h1>

<nav class='files'>
  <% files.forEach(function(file){ %>
    <a href='/edit?file=<%= file %>'>
      <%= file %>
      <img src='/icon-pencil.png'>
    </a>
  <% }) %>
</nav>