<!doctype html>
<html lang='en'>
  <head>
    <title>Makers IDE</title>
    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css'>
  </head>
  <body>
    <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>
    <%- body %>
    <script src='/interface.js'></script>
  </body>
</html>