<!doctype html>
<html lang='en'>
  <head>
    <title>Makers IDE</title>
    <meta charset='utf-8'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/main.css'>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css'>
  </head>
  <body>
    <%- body %>
  </body>
</html>